// Text color
$text-color: #22181c;
$heading-color: #261447;
$highlight: #ff3864;
$subheading: #087ca7;
$background: #f3eeee;
$white: #f9f8f8;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;600&display=swap");

@font-face {
  font-family: "Helvetica";
  src: url(./fonts/Helvetica-Bold.ttf) format("truetype");
  src: url(./fonts/Helvetica.ttf) format("truetype");
}

$font-title: "Unbounded", cursive;
$font-body: "Helvetica", sans-serif;

// Extend/Inheritance
%standard-marginPad {
  margin: 2rem 0;
  padding: 0 1rem;
}

// Mixins
@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($cols) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
}

// Utility Classes
.bold {
  font-weight: 700;
}

.div-center {
  @include flex;
  gap: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: $font-title;
  color: $heading-color;
  text-align: center;
  padding: 1em;
}

// Nav
nav {
  @include flex($justify: space-between);
  flex-flow: row wrap;
  background-color: $white;
  padding: 0.8em;
  max-width: 15 00px;
  margin: 0 auto;

  img {
    width: 8rem;
  }

  ul {
    @include flex;
    gap: 1rem;
    font-size: 0.8em;
    font-family: $font-title;

    li {
      list-style: none;
    }
  }
}

// Footer
footer {
  background-color: $white;

  div {
    div:first-child {
      @include flex();
      flex-flow: column wrap;
      gap: 1em;
      padding: 1em;
    }

    .nav {
      @include flex();
    }

    ul {
      @include flex($align: flex-start);
      flex-flow: column wrap;
      gap: 0.5em;

      padding: 1em;

      li {
        list-style: none;
      }
    }

    div {
    }
  }

  .heading {
    font-family: $font-title;
    color: $highlight;
    font-size: 1.4rem;
  }

  .copyright {
    @include flex($justify: space-between);
    flex-flow: row wrap;

    font-size: 0.8em;
    padding: 1em;
  }
}

// Card
.card {
  @include flex($justify: space-between);
  max-width: 600px;
  background-color: $subheading;
  border-radius: 10px;
  padding: 2em;

  .text {
    h1 {
      color: $white;
      text-align: start;
      margin-bottom: 1em;
    }

    p {
      max-width: 24ch;
      color: $white;
      line-height: 106%;
    }
  }

  img {
    width: 40%;
    max-width: 300px;
  }
}

.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
}

// Homepage
.hero_section {
  @include flex;
  @extend %standard-marginPad;

  flex-flow: row wrap;
  gap: 10%;

  img {
    width: 100%;
    max-width: 400px;
  }

  section {
    margin-bottom: 2em;
  }

  .branding {
    color: $heading-color;
    font-family: $font-title;
    font-weight: 600;
    font-size: 2em;
    line-height: 92.5%;
    margin-bottom: 1.5rem;
    max-width: 15ch;
  }

  .subheading {
    color: $subheading;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    border: none;
    background-color: $highlight;
    font-family: $font-title;
    font-weight: 400;
    color: $white;
  }

  margin-bottom: 2em;
}

.section {
  @include flex($justify: space-between, $align: center);
  flex-flow: row wrap;
  @extend %standard-marginPad;

  gap: 10%;
  font-weight: 700;
  line-height: 106%;
  color: $text-color;

  div {
    max-width: 60ch;
    margin: 0 auto;
    padding-bottom: 1em;
  }

  img {
    width: 100%;
    max-width: 400px;
  }
}

.qna {
  @extend %standard-marginPad;

  h2 {
    font-family: $font-title;
    color: $heading-color;
    margin-bottom: 2rem;
    text-align: center;

    span {
      color: $highlight;
    }
  }

  div:first-of-type {
    @include grid(2);
    gap: 1em;
    line-height: 106%;

    p {
      margin: 0 auto;
      max-width: 50ch;
    }
  }

  div {
    @include flex;
    padding: 1em;
    gap: 2em;

    img {
      width: 100%;
      max-width: 200px;
    }

    p {
      max-width: 60ch;
    }
  }
}

.payment-btn {
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  border: none;
  background-color: $highlight;
  font-family: $font-title;
  font-weight: 400;
  color: $white;
}

// About Page
.about {
  div {
    @include flex;

    img {
      width: 80%;
      max-width: 600px;
    }
  }

  h1 {
    font-family: $font-title;
    color: $heading-color;
    text-align: center;
    padding: 1em;
  }

  p {
    line-height: 106%;
    color: $text-color;
    margin-bottom: 1em;
  }
}

@media (max-width: 820px) {
  .card_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    max-width: 800px;
    margin: 0 auto;
  }
}
